<!DOCTYPE html>
<html lang="en">
<head>
  <title>Change Password</title>
  <link rel="stylesheet" href="/css/form-styles.css" />
</head>
<body>
  <% if (message && message!=undefined && message!="" && message!="undefined") { %>
    <script>
      alert('<%= message %>');
    </script>
  <% } %>
  <nav class="nav">
    <h1>GreenMentor</h1>
    <div>
      <a href="/user/dashboard" class="text-gray-600 ml-4 hover:text-green-500"
        >Dashboard</a
      >
      <a href="/user/plants" class="text-gray-600 ml-4 hover:text-green-500"
      >Plants</a
      >
      <a href="/user/events" class="text-gray-600 ml-4 hover:text-green-500"
        >Events</a
      >
      <a href="/user/my-plants" class="text-gray-600 ml-4 hover:text-green-500"
      >My Plants</a
    >
      <% if(premium) { %>
        <a href="/user/my-posts" class="text-gray-600 ml-4 hover:text-green-500"
        >My Posts</a
      >
    <% } %>
      <a href="/user/profile" class="text-gray-600 ml-4 hover:text-green-500"
        >Profile</a
      >
    </div>
  </nav>
  <div class="form">
  <form action="/user/change-password" method="post">
    <h1>Change Password</h1>
    <input type="text" name="previous_password" placeholder="Enter your old password" required>
    <input type="password" name="new_password" placeholder="Enter your new password" required>
    <button type="submit">Update your password</button>
  </form>
</div>
</body>
</html>
